.avatar {
    display: block;
    margin: auto;
    width: 50vw;
    height: 50vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    max-width: 350px;
    max-height: 350px;
}

ion-item {
    margin-bottom: 2vh;
}