.tomorrowSel > img {
    border: 2px solid #cca300;
    border-radius: 15%;
    padding: 5px;
    background-color: #ffdb4d;
}

ion-thumbnail {
    margin: auto;
}

.container {
    background-color: #ffcc00;
}

.viewer {
    padding-bottom: 10px;
}
